*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#0f0f14;
color:white;
overflow:hidden;
}

/* SECCIONES */

.section{
position:absolute;
inset:0;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
padding:40px;
text-align:center;
transition:1s;
}

.hidden{
opacity:0;
pointer-events:none;
transform:scale(.9);
}

/* CARD */

.card{
max-width:700px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(20px);
padding:50px;
border-radius:20px;
}

/* BOTONES */

button{
padding:14px 30px;
border:none;
border-radius:40px;
background:#ff4d6d;
color:white;
font-size:16px;
cursor:pointer;
margin-top:30px;
transition:.3s;
}

button:hover{
transform:scale(1.05);
}

/* TEXTO */

h1{
font-weight:600;
margin-bottom:20px;
}

p{
line-height:1.8;
opacity:.9;
white-space:pre-line;
}

/* FLORES */

#flores{
background:black;
}

.titulo{
position:absolute;
top:40px;
width:100%;
text-align:center;
font-size:28px;
color:#ffd43b;
}

.flowers{
position:absolute;
bottom:0;
font-size:40px;
}